.centers{
    /*center the sentence */
    text-align: center;
}
body{
    font-family: 'calibri';
}
.georgia{
    font-family: 'georgia';
    font-weight: bold;
}
h1{
    font-size: 28pt;
}

/* YETER: bold "c" label */
.bold{
    font-weight: bold;
}

/* COUNTER: */
#counter{
    display: block;
    font-size: 50px;
}









